<button (click) = "checkAll()">CheckAll</button>
<button (click) = "loadData()">Back in Time</button>
<button (click) = "checkStatus()">Checked Grean</button>
<button (click) = "checkStatusRed()">Checked Red (second method)</button>

<ul>
  <li *ngFor = "let cart of carts"><app-checker [cart] = "cart" (idEvent) = "receiveMessage($event)" #cmp></app-checker></li>
</ul>
{{ message }}
<!-- 
<ul>after
  <li *ngFor = "let cart of carts"><span>{{ cart.id }}</span>{{ cart.name }}<input type="checkbox" [checked] = "cart.status"></li>
</ul> -->
